<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--1.使用构造注入方式装配User实例 -->
    <bean id="user01"
          class="io.tyj.xml.user">
        <constructor-arg index="0" value="小王"/>
        <constructor-arg index="1" value="123"/>
        <constructor-arg index="2">
            <list>
                <value>"constructor_value_1"</value>
                <value>"constructor_value_2</value>
            </list>
        </constructor-arg>
    </bean>

    <!--2.使用设值注入方式装配User实例 -->
    <bean id="user02" class="io.tyj.xml.user">
        <property name="username" value="小唐"/>
        <property name="password" value="456"/>
        <!-- 注入list集合 -->
        <property name="list">
            <list>
                <value>"set_list_value_1"</value>
                <value>"set_list_value_2</value>
            </list>
        </property>
    </bean>

    <!-- 使用 context 命名空间 ,在配置文件中开启相应的注解处理器 -->
    <context:annotation-config/>

    <!--使用 context 命名空间 ,通知Spring扫描指定包下所有Bean类，进行注解解析-->
    <context:component-scan base-package="io.tyj"/>
    
<!--    <bean id="student100"-->
<!--          class="io.kimmking.spring01.Student">-->
<!--        <property name="id" value="100" />-->
<!--        <property name="name" value="KK100" />-->
<!--    </bean>-->
    
<!--    <bean id="class1" class="io.kimmking.spring02.Klass">-->
<!--        <property name="students">-->
<!--            <list>-->
<!--                <ref bean="student100" />-->
<!--                <ref bean="student123" />-->
<!--&lt;!&ndash;                <bean class="io.kimmking.spring01.Student">&ndash;&gt;-->
<!--&lt;!&ndash;                    <property name="name" value="qq" />&ndash;&gt;-->
<!--&lt;!&ndash;                    <property name="id" value="001" /> &ndash;&gt;-->
<!--&lt;!&ndash;                </bean>&ndash;&gt;-->
<!--            </list>-->
<!--        </property>-->
<!--    </bean>-->
    
    
<!--    <context:component-scan base-package="io.kimmking.spring02" />-->
<!--    -->
<!--    -->
<!--    <bean id="aop1" class="io.kimmking.spring02.Aop1" />-->
<!--    -->
<!--    <bean id="aop2" class="io.kimmking.spring02.Aop2" />-->
<!--    -->
<!--&lt;!&ndash;    <aop:aspectj-autoproxy proxy-target-class="true" />&ndash;&gt;-->
<!--    <aop:aspectj-autoproxy  />-->
<!--    -->
<!--    <aop:config>-->
<!--        <aop:pointcut expression="execution(* io.kimmking.aop.*.*(..))" id="p1" /> &lt;!&ndash;切点&ndash;&gt;-->
<!--        <aop:aspect ref="aop1"> &lt;!&ndash;切面 &ndash;&gt;-->
<!--            <aop:around method="around" pointcut-ref="p1" />-->
<!--            <aop:before method="startTransaction" pointcut-ref="p1" /> &lt;!&ndash;前置通知&ndash;&gt;-->
<!--            <aop:after-returning method="commitTransaction" pointcut-ref="p1"/> &lt;!&ndash;后置通知&ndash;&gt;-->
<!--        </aop:aspect>-->
<!--    </aop:config>-->

<!--&lt;!&ndash;    <context:annotation-config />&ndash;&gt;-->
<!--&lt;!&ndash;    &ndash;&gt;-->
<!--    <bean id="school" class="io.kimmking.spring02.School"></bean>-->
    
    
</beans>